{% macro render_pagination(results, url="") %}
    <ul>
        {% for page_num in results.contextual_page_range %}
            {% if page_num == results.paginator.num_pages and page_num > 4 %}
                <li><span class="page-numbers dots">...</span></li>
            {% endif %}
            {% if page_num != None%}
                {% if results.number == page_num %}
                    <li><span class="page-numbers current">{{ page_num }}</a></li>
                {% else %}
                    <li><a href="{{ url }}?{{ updated_querystring(request, {'page': page_num}) }}" class="page-numbers current">{{ page_num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}