{% macro render_advanced_search() %}
    <form action="{{ url("search") }}" method="GET" class="profiles-search" id="search-by-country">
        <div class="search-form">
            <input type="text" placeholder="{{ _("Пошук за ПІБ, назвою чи ЄДРПОУ компанії") }}" name="q" data-provide="typeahead" id="search-form-body" autocomplete="off" data-endpoint="{{ url("suggest") }}" value="{{ query }}">
            <input type="hidden" name="is_exact" value="" />
            <button>
                <svg>
                    <use xlink:href="#arr-right-w2"></use>
                </svg>
            </button>
        </div>
        <div class="form-inline" id="country-selection-form">
            <div class="form-group">
                <select name="country" id="country-select" class="combobox country-list input-large form-control">
                    <option value="" {% if not country %}selected{% endif %}>{{ _("Оберіть країну") }}</option>
                    <option value="all" data-url="{{ url("countries_home") }}">{{ _("Усі країни") }}</option>
                    {% for cntry in used_countries %}
                        <option
                            {% if country_obj and country_obj.iso2 == cntry.iso2 %}selected{% endif %}
                            data-url="{{ url("countries", country_id=cntry.iso2) }}" value={{ cntry.iso2 }}>{{ cntry.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
{% endmacro %}