{% extends "base.jinja" %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li class="edit-page">
            <a href="{{ url('wagtailadmin_pages:edit', page.id) }}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
        </li>
    {% endif %}
{% endblock %}

{% block page_title %}{{ page.translated_title }}{% endblock %}

{% block content %}
<div class="single-page">
    <main>
        <div class="single-page__content">
            <div class="single-page__body">
                <h1 class="single-page-title">{{ page.translated_title }}</h1>
                <div class="article-content">
                    {{ page.translated_body|richtext }}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}