{% if feedback_form_override %}
	{% set feedback_form=feedback_form_override %}
{% endif %}

{% if delete %}
    <label class="check">
        <input type="checkbox" class="check__input">
        <div class="check__box"></div>
        Я все прочитав і все одно хочу видалитися
    </label>
{% endif %}

<form class="modal-form" method="POST" action={{ url("send_feedback") }}>
	{% csrf_token %}
    <fieldset>
        {# <div class="form-group row">
            <div class="col-md-4 control-label">{{ feedback_form.person.label_tag() }}</div>
            <div class="col-md-8">
                {{ feedback_form.person }}
                {{ feedback_form.person.errors }}
            </div>
        </div> #}
        {{ feedback_form.text.label_tag() }}
        {{ feedback_form.text }}
        {{ feedback_form.text.errors }}

        {{ feedback_form.email.label_tag() }}
        {{ feedback_form.email }}
        {{ feedback_form.email.errors }}
        {# <div class="form-group row">
            <div class="col-md-4 control-label">{{ feedback_form.link.label_tag() }}</div>
            <div class="col-md-8">
                {{ feedback_form.link }}
                {{ feedback_form.link.errors }}
            </div>
        </div> #}
        {{ feedback_form.contacts.label_tag() }}
        {{ feedback_form.contacts }}
        {{ feedback_form.contacts.errors }}
        {# <div class="form-group row">
            <div class="col-md-8 col-md-offset-4">
                {{ feedback_form.captcha }}
                {{ feedback_form.captcha.errors }}
            </div>
            <div class="col-md-12 text-center">
                <label class="label-required">{{ feedback_form.read_and_agreed }}
                {{ _("Я прочитав") }} <a href="{{ url('wagtail_serve', 'faq/') }}" target="_blank">{{ _("запитання, які часто задаються") }}</a> {{ _("та не знайшов відповіді") }}</label>

                {{ feedback_form.read_and_agreed.errors }}
            </div>
        </div> #}
        <div class="form-send">
            <button id="singlebutton" name="singlebutton" class="btn btn--green"><span>{{ _("Надіслати") }}<span class="bottom-icon"></span></span></button>
        </div>
    </fieldset>
</form>
