{% extends "base.jinja" %}
{% from "macros/_pagination.jinja" import render_pagination with context %}

{% block og_tags %}
    {{ super() }}
    {% if country %}
    <link rel="canonical" href="{{ SITE_URL }}{{ country.get_absolute_url() }}" />
    {% endif %}
{% endblock %}

{% block content %}
<div class="profiles header--show-search">
    <!--    добавлять класс header--show-search если нужно отображать поиск :TODO-->

    <div class="first-section">
        <div id="particles-js"></div>
        <h1 class="page-title">{{_("ПУБЛІЧНІ ДІЯЧІ")}}</h1>
        <div class="profiles-search" id="search-by-country">
            <form action="{{ url("search") }}" method="GET" class="search-form">
                <input type="text" placeholder="{{ _("Пошук за ПІБ, назвою чи ЄДРПОУ компанії") }}" name="q" data-provide="typeahead" id="search-form-body" autocomplete="off" data-endpoint="{{ url("suggest") }}">
                <input type="hidden" name="is_exact" value="" />
                <button>
                    <svg>
                        <use xlink:href="#arr-right-w2"></use>
                    </svg>
                </button>
            </form>
            <form action="" class="search-form">
                <div class="select">
                    <input type="text" placeholder="Оберіть країну">
                    <ul class="search-dropdown">
                        <li><a href=""><strong>Ук</strong>раїна</a></li>
                        <li><a href="">Кіпр</a></li>
                        <li><a href="">Росія</a></li>
                        <li><a href="">Америка</a></li>
                    </ul>
                    <button>
                        <svg>
                            <use xlink:href="#arr-right-w2"></use>
                        </svg>
                    </button>
                </div>
            </form>
            <div class="form-inline" id="country-selection-form" style="z-index: 2">
                    <div class="form-group">
                        <select class="combobox country-list input-large form-control">
                            <option value="" {% if not country %}selected{% endif %}>{{ _("Оберіть країну") }}</option>
                            <option value="all" data-url="{{ url("countries_home") }}">{{ _("Усі країни") }}</option>
                            {% for cntry in used_countries %}
                                <option
                                    {% if country and country.iso2 == cntry.iso2 %}selected{% endif %}
                                    data-url="{{ url("countries", country_id=cntry.iso2) }}" value={{ cntry.iso2 }}>{{ cntry.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        </div>
    </div>
    <main>
        {% if persons or companies %}
            <div class="profiles-filters">
                {% if persons %}
                <button  id="individuals-filter" class="active">{{_("ФІЗИЧНІ ОСОБИ ")}}<span>{{ persons.paginator.count }}</span></button>
                {% endif %}
                {% if companies %}
                <button  id="entities-filter" {% if not persons %}class="active"{% endif%}>{{_("ЮРИДИЧНІ ОСОБИ ")}}<span>{{ companies.paginator.count }}</span></button>
                {% endif %}
            </div>

            {% if persons %}
                <div class="page-grid active" id="individuals-items">
                    {% for p in persons %}
                        <article class="profile-card" itemscope itemtype="http://schema.org/Person">
                            <a itemprop="url" href="{{ url("person_details", person_id=p.id) }}" class="card-link"></a>
                            {% if p.photo_path %}
                                <img src="{{ p.photo_path|thumbnail_url("small_avatar") }}" itemprop="image" alt="photo" class="profile-card__img">
                            {% else %}
                                <img src="{{ static('images/profile-empty-individual.svg') }}" alt="photo" class="profile-card__img">
                            {% endif %}
                            <h6 class="profile-card__title" itemprop="name"><span itemprop="familyName">{{ p.translated_last_name }} {{ p.translated_first_name }} {{ p.translated_patronymic }}</h6>
                            <span class="profile-card__position">{{_("Остання посада")}}</span>
                            <p class="profile-card__description">
                                <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{ p.translated_last_workplace }}</span></span>,
                                <span itemprop="jobTitle">{{ p.translated_last_job_title }}</span>
                            </p>
                        </article>
                    {% endfor %}
                </div>
            {% endif %}

            {% if companies %}
                <div class="page-grid {% if not persons %}active{% endif%}" id="entities-items">
                    {% for c in companies %}
                    <article class="profile-card" itemscope itemtype="http://schema.org/Organization">
                        <a itemprop="url" href="{{ url("company_details", company_id=c.id) }}" class="card-link"></a>
                        <img src="{{ static('images/profile-empty-individual.svg') }}" itemprop="image" alt="photo" class="profile-card__img">
                        <h6 class="profile-card__title" itemprop="name">{{ c.translated_name }}</h6>
                    </article>
                    {% endfor %}
                </div>
            {% endif %}


            {% if persons %}
            <div class="pagination persons {% if persons %}active{% endif %}">
                {% if persons.paginator.num_pages > 1 %}
                    {{ render_pagination(persons, url("search_person")) }}
                {% endif %}
            </div>
            {% endif %}

            {% if companies %}
            <div class="pagination companies {% if not persons %}active{% endif %}">
                {% if companies.paginator.num_pages > 1 %}
                    {{ render_pagination(companies, url("search_company")) }}
                {% endif %}
            </div>
            {% endif %}

        {% else %}
            <div class="profiles-no-results">
                <h6 class="title track-ga-event" data-ga-event-category="search" data-ga-event-action="search-gave-no-results" data-ga-event-label="{{ query }}">{{ _("Станом на") }} {{ today|date }} {{ _("інформація про фізичну особу") }} «{{ query }}» {{ _("в Реєстрі відсутня") }}</h6>

                {% if suggested_person %}
                    <p class="subtitle">Можливо, ви мали на увазі <a href="{{ url("person_details", person_id=suggested_person.id) }}" data-ga-event-category="search" data-ga-event-action="suggested_person" data-ga-event-label="{{ suggested_person.translated_last_name }} {{ suggested_person.translated_first_name }} {{ suggested_person.translated_patronymic }}" class="link track-ga-event track-ga-event-click">“{{ suggested_person.translated_last_name }} {{ suggested_person.translated_first_name }} {{ suggested_person.translated_patronymic }}”</a> ?</p>
                {% endif %}
            </div>
        {% endif %}
    </main>
</div>

{% block svg_code %}
<!--SVG elements start-->
<svg style="display: none;">
    <symbol id="fb" viewBox="0 0 30 30">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M30 0H0V30H30V0ZM12.5973 12.7463V10.5664C12.5973 10.5583 12.5972 10.5493 12.5972 10.5394C12.5954 10.061 12.586 7.49982 15.9588 7.5H18.3892V10.2751H16.6017C16.2481 10.2751 15.8904 10.6415 15.8904 10.9139V12.7365H18.3857C18.2858 14.134 18.0796 15.4122 18.0796 15.4122H15.878V23.3333H12.5973V15.412H11.0002V12.7463H12.5973Z"
        />
    </symbol>
    <symbol id="tw" viewBox="0 0 30 30">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M30 0H0V30H30V0ZM21.463 10.3691C22.1171 10.2859 22.7445 10.1147 23.3333 9.85646C22.892 10.5135 22.3507 11.0845 21.7065 11.5417C21.7134 11.6793 21.7183 11.8178 21.7183 11.9613C21.7183 16.2502 18.4527 21.1981 12.4796 21.1981C10.6419 21.1981 8.93786 20.6687 7.5 19.7414C7.75531 19.7741 8.01062 19.7859 8.27682 19.7859C9.79484 19.7859 11.1971 19.2654 12.3015 18.4015C10.8824 18.3708 9.68896 17.4258 9.26838 16.1403C9.46531 16.1839 9.6751 16.1957 9.88292 16.1957C10.1818 16.1957 10.4697 16.1611 10.734 16.0889C9.25849 15.787 8.13333 14.4768 8.13333 12.8994V12.8638C8.56677 13.1023 9.07839 13.2537 9.5999 13.2636C8.73698 12.6867 8.15807 11.6902 8.15807 10.566C8.15807 9.9673 8.32234 9.41115 8.6024 8.92527C10.2065 10.8955 12.5944 12.1889 15.293 12.3205C15.2395 12.085 15.2178 11.8376 15.2178 11.5803C15.2178 9.79214 16.6645 8.3335 18.4616 8.3335C19.3879 8.3335 20.2369 8.72636 20.8327 9.36068C21.5709 9.21324 22.2636 8.94902 22.891 8.57495C22.6495 9.33594 22.1359 9.9673 21.463 10.3691Z"
        />
    </symbol>
    <symbol id="tg" viewBox="0 0 30 30">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M30 0H0V30H30V0ZM6.33988 13.9773L20.9732 8.05465C21.5301 7.82924 22.1057 8.33553 21.9834 8.94321L19.485 21.3491C19.3678 21.9313 18.7104 22.1928 18.2487 21.8408L14.4765 18.965L12.554 21.0038C12.2166 21.3617 11.6337 21.2168 11.4887 20.7391L10.101 16.1656L6.38252 15.0252C5.89462 14.8756 5.8659 14.1691 6.33988 13.9773ZM12.3415 17.0506L19.1385 10.8078C19.3013 10.6584 19.1123 10.3945 18.9277 10.5135L10.9011 15.6839C10.7597 15.7749 10.6954 15.9537 10.7448 16.1187L11.8214 19.722C11.8441 19.7977 11.9503 19.7873 11.9588 19.7085L12.2205 17.2923C12.2306 17.199 12.2737 17.1128 12.3415 17.0506Z"
        />
    </symbol>
    <symbol id="back-link-arr" viewBox="0 0 20 8">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.00816 4.5167L4.92553 7.2676L4.23949 7.99516L0.385793 4.36136L0 3.99758L0.385793 3.6338L4.23949 0L4.92553 0.72756L1.96762 3.5167H19.9975V4.5167H2.00816Z"
        />
    </symbol>
    <symbol id="arr-right" viewBox="0 0 7 11" fill="none">
        <path d="M1.25 9.75L5.75 5.25L1.25 0.75"/>
    </symbol>
    <symbol id="arr-right-w2" viewBox="0 0 8 13" fill="none">
        <path d="M1 1L7 7L1 13" stroke-width="2"/>
    </symbol>
    <symbol id="search" viewBox="0 0 21 21">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M16 9.5C16 13.0899 13.0899 16 9.5 16C5.91015 16 3 13.0899 3 9.5C3 5.91015 5.91015 3 9.5 3C13.0899 3 16 5.91015 16 9.5ZM14.4271 16.4271C13.0372 17.4175 11.3367 18 9.5 18C4.80558 18 1 14.1944 1 9.5C1 4.80558 4.80558 1 9.5 1C14.1944 1 18 4.80558 18 9.5C18 11.6364 17.2118 13.5887 15.9104 15.082L20.4142 19.5858L19 21L14.4271 16.4271Z"
        />
    </symbol>
    <symbol id="close" viewBox="0 0 29 29" fill="none">
        <path d="M28.4541 28.4541L1 1M28.4541 1L1 28.4541L28.4541 1Z"/>
    </symbol>
    <symbol id="dots" viewBox="0 0 9 9">
        <path d="M3 7.5C3 8.32843 2.32843 9 1.5 9C0.671573 9 0 8.32843 0 7.5C0 6.67157 0.671573 6 1.5 6C2.32843 6 3 6.67157 3 7.5Z"
              fill="#4EAD33"/>
        <path d="M9 7.5C9 8.32843 8.32843 9 7.5 9C6.67157 9 6 8.32843 6 7.5C6 6.67157 6.67157 6 7.5 6C8.32843 6 9 6.67157 9 7.5Z"
              fill="#4EAD33"/>
        <path d="M9 1.5C9 2.32843 8.32843 3 7.5 3C6.67157 3 6 2.32843 6 1.5C6 0.671573 6.67157 0 7.5 0C8.32843 0 9 0.671573 9 1.5Z"
              fill="#4EAD33"/>
        <path d="M3 1.5C3 2.32843 2.32843 3 1.5 3C0.671573 3 0 2.32843 0 1.5C0 0.671573 0.671573 0 1.5 0C2.32843 0 3 0.671573 3 1.5Z"
              fill="#4EAD33"/>
    </symbol>
    <symbol id="plus" viewBox="0 0 10 10" fill="none">
        <path d="M5 0V10M10 5L0 5"/>
    </symbol>
    <symbol id="minus" viewBox="0 0 10 1" fill="none">
        <line y1="0.5" x2="10" y2="0.5"/>
    </symbol>
    <symbol id="print" viewBox="0 0 23 21">
        <path d="M18.4576 -0.741928H4.55664V3.89543H18.4576V-0.741928Z"/>
        <path d="M23 9.1736C23 7.25221 21.4426 5.70642 19.5392 5.70642H3.46081C1.54295 5.70642 0 7.26665 0 9.1736V16.1369H4.58558V20.7742H18.4288V16.1369H23.0144V9.1736H23ZM16.0928 18.4483H6.90721V12.6697H16.0928V18.4483ZM19.6257 10.4016C18.9768 10.4016 18.4433 9.86704 18.4433 9.21694C18.4433 8.56684 18.9768 8.03232 19.6257 8.03232C20.2746 8.03232 20.8082 8.56684 20.8082 9.21694C20.8082 9.86704 20.2746 10.4016 19.6257 10.4016Z"
        />
    </symbol>
    <symbol id="block" viewBox="0 0 45 45" fill="none">
        <circle cx="22.5849" cy="22.4041" r="14" transform="rotate(-45 22.5849 22.4041)" stroke="white"
                stroke-width="3"/>
        <line x1="12.2172" y1="32.7718" x2="33.545" y2="11.4439" stroke="white" stroke-width="3"/>
    </symbol>
</svg>
<!--SVG elements end-->
{% endblock %}

{% endblock %}